DB_HOST=host.docker.internal
DB_PORT=5432
DB_USERNAME=maidb
DB_PASSWORD=your_password
DB_DATABASE=maidb
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRATION_TIME=15m
JWT_REFRESH_EXPIRATION_TIME=7d
CORS_ORIGIN=http://localhost:3000
